html, body {
  overflow: hidden; }

*:focus {
  outline: none !important;
  box-shadow: none !important; }

ul {
  list-style: none;
  margin: 0;
  padding-left: 0; }

.list-group-item {
  padding: 10px 15px 10px 0;
  background: none;
  border: none; }

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none; }

body {
  font-family: 'Lato', sans-serif;
  color: #656f74; }

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2; }

.overlay_black_25 {
  z-index: 0;
  background: #000;
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.overlay_black_5 {
  z-index: 0;
  background: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#youtubePlayer{
    padding: 20px;
    background: rgba(255,255,255,.3);
    color: #535353;
    text-align: left;
    margin-bottom: 40px;
    margin-top: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    z-index: 99999999;
}
.container {
  width: 90%;
  margin: 0 auto;
  padding: 0; }

.bg_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0; }
  .bg_img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.space_5 {
  width: 100%;
  height: 5vh;
  display: inline-block; }

body .vegas-container {
  position: fixed;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh !important; }

.background_youtube {
  z-index: -11;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.background_youtube img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; }

#stripes {
  position: fixed;
  top: 0;
  left: 75px;
  width: calc(100% - 75px);
  height: 100vh;
  background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
  clip-path: polygon(100% 0, 100% 70%, 0 99%, 0 0);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr); }

#stripes :nth-child(1) {
  grid-area: 1 / 1 / span 4 / span 2;
  background-color: #53f;
  clip-path: polygon(0 0, 100% 0%, 100% 60%, 0% 100%); }

#stripes :nth-child(2) {
  grid-area: 1 / 3 / span 3 / span 2;
  background-color: #4553ff;
  clip-path: polygon(0 0, 100% 0%, 100% 74%, 0% 100%);
  transform: translateY(-30px); }

#stripes :nth-child(3) {
  grid-area: 1 / 5 / span 2 / span 2;
  background-color: #4f40ff;
  clip-path: polygon(0 0, 100% 0, 99% 5%, 0 70%); }

#stripes :nth-child(4) {
  grid-area: 3 / 11 / span 3 / span 2;
  clip-path: polygon(0 23%, 100% 0%, 100% 77%, 0% 100%);
  background-color: #0dcfff; }

#stripes :nth-child(5) {
  grid-area: 8 / 1 / span 5 / span 4;
  clip-path: polygon(0 23%, 100% 0%, 100% 80%, 0% 100%);
  transform: translateY(10px);
  background-color: #1fa2ff; }

.fa-robot{
  font-size: 40px;
}

.mast {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: #fff;
  background-color: #111; }
  .mast:after {
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(17, 17, 17, 0.9); }
  .mast > header {
    z-index: 2;
    position: relative; }
  .mast__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: 50%; }
  .mast__header {
    padding: 5%; }
  .mast__title span {
    animation: letter-glow 0.7s 0s ease both; }
    .mast__title span:nth-child(1) {
      animation-delay: 0.05s; }
    .mast__title span:nth-child(2) {
      animation-delay: 0.1s; }
    .mast__title span:nth-child(3) {
      animation-delay: 0.15s; }
    .mast__title span:nth-child(4) {
      animation-delay: 0.2s; }
    .mast__title span:nth-child(5) {
      animation-delay: 0.25s; }
    .mast__title span:nth-child(6) {
      animation-delay: 0.3s; }
    .mast__title span:nth-child(7) {
      animation-delay: 0.35s; }
    .mast__title span:nth-child(8) {
      animation-delay: 0.4s; }
    .mast__title span:nth-child(9) {
      animation-delay: 0.45s; }
    .mast__title span:nth-child(10) {
      animation-delay: 0.5s; }
    .mast__title span:nth-child(11) {
      animation-delay: 0.55s; }
    .mast__title span:nth-child(12) {
      animation-delay: 0.6s; }
    .mast__title span:nth-child(13) {
      animation-delay: 0.65s; }
    .mast__title span:nth-child(14) {
      animation-delay: 0.7s; }
    .mast__title span:nth-child(15) {
      animation-delay: 0.75s; }
    .mast__title span:nth-child(16) {
      animation-delay: 0.8s; }
    .mast__title span:nth-child(17) {
      animation-delay: 0.85s; }
    .mast__title span:nth-child(18) {
      animation-delay: 0.9s; }
    .mast__title span:nth-child(19) {
      animation-delay: 0.95s; }
    .mast__title span:nth-child(20) {
      animation-delay: 1s; }
    .mast__title span:nth-child(21) {
      animation-delay: 1.05s; }
    .mast__title span:nth-child(22) {
      animation-delay: 1.1s; }
    .mast__title span:nth-child(23) {
      animation-delay: 1.15s; }
    .mast__title span:nth-child(24) {
      animation-delay: 1.2s; }
    .mast__title span:nth-child(25) {
      animation-delay: 1.25s; }
  .mast__text {
    font-size: 1em;
    margin: 0 0 0.5em;
    line-height: 1.5;
    white-space: pre; }
  .mast__text span {
    animation: letter-glow 0.7s 0s ease both; }
    .mast__text span:nth-child(1) {
      animation-delay: 0.05s; }
    .mast__text span:nth-child(2) {
      animation-delay: 0.1s; }
    .mast__text span:nth-child(3) {
      animation-delay: 0.15s; }
    .mast__text span:nth-child(4) {
      animation-delay: 0.2s; }
    .mast__text span:nth-child(5) {
      animation-delay: 0.25s; }
    .mast__text span:nth-child(6) {
      animation-delay: 0.3s; }
    .mast__text span:nth-child(7) {
      animation-delay: 0.35s; }
    .mast__text span:nth-child(8) {
      animation-delay: 0.4s; }
    .mast__text span:nth-child(9) {
      animation-delay: 0.45s; }
    .mast__text span:nth-child(10) {
      animation-delay: 0.5s; }
    .mast__text span:nth-child(11) {
      animation-delay: 0.55s; }
    .mast__text span:nth-child(12) {
      animation-delay: 0.6s; }
    .mast__text span:nth-child(13) {
      animation-delay: 0.65s; }
    .mast__text span:nth-child(14) {
      animation-delay: 0.7s; }
    .mast__text span:nth-child(15) {
      animation-delay: 0.75s; }
    .mast__text span:nth-child(16) {
      animation-delay: 0.8s; }
    .mast__text span:nth-child(17) {
      animation-delay: 0.85s; }
    .mast__text span:nth-child(18) {
      animation-delay: 0.9s; }
    .mast__text span:nth-child(19) {
      animation-delay: 0.95s; }
    .mast__text span:nth-child(20) {
      animation-delay: 1s; }
    .mast__text span:nth-child(21) {
      animation-delay: 1.05s; }
    .mast__text span:nth-child(22) {
      animation-delay: 1.1s; }
    .mast__text span:nth-child(23) {
      animation-delay: 1.15s; }
    .mast__text span:nth-child(24) {
      animation-delay: 1.2s; }
    .mast__text span:nth-child(25) {
      animation-delay: 1.25s; }
    .mast__text span:nth-child(26) {
      animation-delay: 1.3s; }
    .mast__text span:nth-child(27) {
      animation-delay: 1.35s; }
    .mast__text span:nth-child(28) {
      animation-delay: 1.4s; }
    .mast__text span:nth-child(29) {
      animation-delay: 1.45s; }
    .mast__text span:nth-child(30) {
      animation-delay: 1.5s; }
    .mast__text span:nth-child(31) {
      animation-delay: 1.55s; }
    .mast__text span:nth-child(32) {
      animation-delay: 1.6s; }
    .mast__text span:nth-child(33) {
      animation-delay: 1.65s; }
    .mast__text span:nth-child(34) {
      animation-delay: 1.7s; }
    .mast__text span:nth-child(35) {
      animation-delay: 1.75s; }
    .mast__text span:nth-child(36) {
      animation-delay: 1.8s; }
    .mast__text span:nth-child(37) {
      animation-delay: 1.85s; }
    .mast__text span:nth-child(38) {
      animation-delay: 1.9s; }
    .mast__text span:nth-child(39) {
      animation-delay: 1.95s; }
    .mast__text span:nth-child(40) {
      animation-delay: 2s; }
    .mast__text span:nth-child(41) {
      animation-delay: 2.05s; }
    .mast__text span:nth-child(42) {
      animation-delay: 2.1s; }
    .mast__text span:nth-child(43) {
      animation-delay: 2.15s; }
    .mast__text span:nth-child(44) {
      animation-delay: 2.2s; }
    .mast__text span:nth-child(45) {
      animation-delay: 2.25s; }
    .mast__text span:nth-child(46) {
      animation-delay: 2.3s; }
    .mast__text span:nth-child(47) {
      animation-delay: 2.35s; }
    .mast__text span:nth-child(48) {
      animation-delay: 2.4s; }
    .mast__text span:nth-child(49) {
      animation-delay: 2.45s; }
    .mast__text span:nth-child(50) {
      animation-delay: 2.5s; }
    .mast__text span:nth-child(51) {
      animation-delay: 2.55s; }
    .mast__text span:nth-child(52) {
      animation-delay: 2.6s; }
    .mast__text span:nth-child(53) {
      animation-delay: 2.65s; }
    .mast__text span:nth-child(54) {
      animation-delay: 2.7s; }
    .mast__text span:nth-child(55) {
      animation-delay: 2.75s; }
    .mast__text span:nth-child(56) {
      animation-delay: 2.8s; }
    .mast__text span:nth-child(57) {
      animation-delay: 2.85s; }
    .mast__text span:nth-child(58) {
      animation-delay: 2.9s; }
    .mast__text span:nth-child(59) {
      animation-delay: 2.95s; }
    .mast__text span:nth-child(60) {
      animation-delay: 3s; }
    .mast__text span:nth-child(61) {
      animation-delay: 3.05s; }
    .mast__text span:nth-child(62) {
      animation-delay: 3.1s; }
    .mast__text span:nth-child(63) {
      animation-delay: 3.15s; }
    .mast__text span:nth-child(64) {
      animation-delay: 3.2s; }
    .mast__text span:nth-child(65) {
      animation-delay: 3.25s; }
    .mast__text span:nth-child(66) {
      animation-delay: 3.3s; }
    .mast__text span:nth-child(67) {
      animation-delay: 3.35s; }
    .mast__text span:nth-child(68) {
      animation-delay: 3.4s; }
    .mast__text span:nth-child(69) {
      animation-delay: 3.45s; }
    .mast__text span:nth-child(70) {
      animation-delay: 3.5s; }
    .mast__text span:nth-child(71) {
      animation-delay: 3.55s; }
    .mast__text span:nth-child(72) {
      animation-delay: 3.6s; }
    .mast__text span:nth-child(73) {
      animation-delay: 3.65s; }
    .mast__text span:nth-child(74) {
      animation-delay: 3.7s; }
    .mast__text span:nth-child(75) {
      animation-delay: 3.75s; }
    .mast__text span:nth-child(76) {
      animation-delay: 3.8s; }
    .mast__text span:nth-child(77) {
      animation-delay: 3.85s; }
    .mast__text span:nth-child(78) {
      animation-delay: 3.9s; }
    .mast__text span:nth-child(79) {
      animation-delay: 3.95s; }
    .mast__text span:nth-child(80) {
      animation-delay: 4s; }
    .mast__text span:nth-child(81) {
      animation-delay: 4.05s; }
    .mast__text span:nth-child(82) {
      animation-delay: 4.1s; }
    .mast__text span:nth-child(83) {
      animation-delay: 4.15s; }
    .mast__text span:nth-child(84) {
      animation-delay: 4.2s; }
    .mast__text span:nth-child(85) {
      animation-delay: 4.25s; }
    .mast__text span:nth-child(86) {
      animation-delay: 4.3s; }
    .mast__text span:nth-child(87) {
      animation-delay: 4.35s; }
    .mast__text span:nth-child(88) {
      animation-delay: 4.4s; }
    .mast__text span:nth-child(89) {
      animation-delay: 4.45s; }
    .mast__text span:nth-child(90) {
      animation-delay: 4.5s; }
    .mast__text span:nth-child(91) {
      animation-delay: 4.55s; }
    .mast__text span:nth-child(92) {
      animation-delay: 4.6s; }
    .mast__text span:nth-child(93) {
      animation-delay: 4.65s; }
    .mast__text span:nth-child(94) {
      animation-delay: 4.7s; }
    .mast__text span:nth-child(95) {
      animation-delay: 4.75s; }
    .mast__text span:nth-child(96) {
      animation-delay: 4.8s; }
    .mast__text span:nth-child(97) {
      animation-delay: 4.85s; }
    .mast__text span:nth-child(98) {
      animation-delay: 4.9s; }
    .mast__text span:nth-child(99) {
      animation-delay: 4.95s; }
    .mast__text span:nth-child(100) {
      animation-delay: 5s; }
    .mast__text span:nth-child(101) {
      animation-delay: 5.05s; }
    .mast__text span:nth-child(102) {
      animation-delay: 5.1s; }
    .mast__text span:nth-child(103) {
      animation-delay: 5.15s; }
    .mast__text span:nth-child(104) {
      animation-delay: 5.2s; }
    .mast__text span:nth-child(105) {
      animation-delay: 5.25s; }
    .mast__text span:nth-child(106) {
      animation-delay: 5.3s; }
    .mast__text span:nth-child(107) {
      animation-delay: 5.35s; }
    .mast__text span:nth-child(108) {
      animation-delay: 5.4s; }
    .mast__text span:nth-child(109) {
      animation-delay: 5.45s; }
    .mast__text span:nth-child(110) {
      animation-delay: 5.5s; }
    .mast__text span:nth-child(111) {
      animation-delay: 5.55s; }
    .mast__text span:nth-child(112) {
      animation-delay: 5.6s; }
    .mast__text span:nth-child(113) {
      animation-delay: 5.65s; }
    .mast__text span:nth-child(114) {
      animation-delay: 5.7s; }
    .mast__text span:nth-child(115) {
      animation-delay: 5.75s; }
    .mast__text span:nth-child(116) {
      animation-delay: 5.8s; }
    .mast__text span:nth-child(117) {
      animation-delay: 5.85s; }
    .mast__text span:nth-child(118) {
      animation-delay: 5.9s; }
    .mast__text span:nth-child(119) {
      animation-delay: 5.95s; }
    .mast__text span:nth-child(120) {
      animation-delay: 6s; }
    .mast__text span:nth-child(121) {
      animation-delay: 6.05s; }
    .mast__text span:nth-child(122) {
      animation-delay: 6.1s; }
    .mast__text span:nth-child(123) {
      animation-delay: 6.15s; }
    .mast__text span:nth-child(124) {
      animation-delay: 6.2s; }
    .mast__text span:nth-child(125) {
      animation-delay: 6.25s; }
    .mast__text span:nth-child(126) {
      animation-delay: 6.3s; }
    .mast__text span:nth-child(127) {
      animation-delay: 6.35s; }
    .mast__text span:nth-child(128) {
      animation-delay: 6.4s; }
    .mast__text span:nth-child(129) {
      animation-delay: 6.45s; }
    .mast__text span:nth-child(130) {
      animation-delay: 6.5s; }
    .mast__text span:nth-child(131) {
      animation-delay: 6.55s; }
    .mast__text span:nth-child(132) {
      animation-delay: 6.6s; }
    .mast__text span:nth-child(133) {
      animation-delay: 6.65s; }
    .mast__text span:nth-child(134) {
      animation-delay: 6.7s; }
    .mast__text span:nth-child(135) {
      animation-delay: 6.75s; }
    .mast__text span:nth-child(136) {
      animation-delay: 6.8s; }
    .mast__text span:nth-child(137) {
      animation-delay: 6.85s; }
    .mast__text span:nth-child(138) {
      animation-delay: 6.9s; }
    .mast__text span:nth-child(139) {
      animation-delay: 6.95s; }
    .mast__text span:nth-child(140) {
      animation-delay: 7s; }
    .mast__text span:nth-child(141) {
      animation-delay: 7.05s; }
    .mast__text span:nth-child(142) {
      animation-delay: 7.1s; }
    .mast__text span:nth-child(143) {
      animation-delay: 7.15s; }
    .mast__text span:nth-child(144) {
      animation-delay: 7.2s; }
    .mast__text span:nth-child(145) {
      animation-delay: 7.25s; }
    .mast__text span:nth-child(146) {
      animation-delay: 7.3s; }
    .mast__text span:nth-child(147) {
      animation-delay: 7.35s; }
    .mast__text span:nth-child(148) {
      animation-delay: 7.4s; }
    .mast__text span:nth-child(149) {
      animation-delay: 7.45s; }
    .mast__text span:nth-child(150) {
      animation-delay: 7.5s; }
    .mast__text span:nth-child(151) {
      animation-delay: 7.55s; }
    .mast__text span:nth-child(152) {
      animation-delay: 7.6s; }
    .mast__text span:nth-child(153) {
      animation-delay: 7.65s; }
    .mast__text span:nth-child(154) {
      animation-delay: 7.7s; }
    .mast__text span:nth-child(155) {
      animation-delay: 7.75s; }
    .mast__text span:nth-child(156) {
      animation-delay: 7.8s; }
    .mast__text span:nth-child(157) {
      animation-delay: 7.85s; }
    .mast__text span:nth-child(158) {
      animation-delay: 7.9s; }
    .mast__text span:nth-child(159) {
      animation-delay: 7.95s; }
    .mast__text span:nth-child(160) {
      animation-delay: 8s; }
    .mast__text span:nth-child(161) {
      animation-delay: 8.05s; }
    .mast__text span:nth-child(162) {
      animation-delay: 8.1s; }
    .mast__text span:nth-child(163) {
      animation-delay: 8.15s; }
    .mast__text span:nth-child(164) {
      animation-delay: 8.2s; }
    .mast__text span:nth-child(165) {
      animation-delay: 8.25s; }
    .mast__text span:nth-child(166) {
      animation-delay: 8.3s; }
    .mast__text span:nth-child(167) {
      animation-delay: 8.35s; }
    .mast__text span:nth-child(168) {
      animation-delay: 8.4s; }
    .mast__text span:nth-child(169) {
      animation-delay: 8.45s; }
    .mast__text span:nth-child(170) {
      animation-delay: 8.5s; }
    .mast__text span:nth-child(171) {
      animation-delay: 8.55s; }
    .mast__text span:nth-child(172) {
      animation-delay: 8.6s; }
    .mast__text span:nth-child(173) {
      animation-delay: 8.65s; }
    .mast__text span:nth-child(174) {
      animation-delay: 8.7s; }
    .mast__text span:nth-child(175) {
      animation-delay: 8.75s; }
    .mast__text span:nth-child(176) {
      animation-delay: 8.8s; }
    .mast__text span:nth-child(177) {
      animation-delay: 8.85s; }
    .mast__text span:nth-child(178) {
      animation-delay: 8.9s; }
    .mast__text span:nth-child(179) {
      animation-delay: 8.95s; }
    .mast__text span:nth-child(180) {
      animation-delay: 9s; }
  .mast__text.sa span {
    animation: letter-glow 0.7s 0s ease both; }
    .mast__text.sa span:nth-child(1) {
      animation-delay: 0.05s; }
    .mast__text.sa span:nth-child(2) {
      animation-delay: 0.1s; }
    .mast__text.sa span:nth-child(3) {
      animation-delay: 0.15s; }
    .mast__text.sa span:nth-child(4) {
      animation-delay: 0.2s; }
    .mast__text.sa span:nth-child(5) {
      animation-delay: 0.25s; }
    .mast__text.sa span:nth-child(6) {
      animation-delay: 0.3s; }
    .mast__text.sa span:nth-child(7) {
      animation-delay: 0.35s; }
    .mast__text.sa span:nth-child(8) {
      animation-delay: 0.4s; }
    .mast__text.sa span:nth-child(9) {
      animation-delay: 0.45s; }
    .mast__text.sa span:nth-child(10) {
      animation-delay: 0.5s; }
    .mast__text.sa span:nth-child(11) {
      animation-delay: 0.55s; }
    .mast__text.sa span:nth-child(12) {
      animation-delay: 0.6s; }
    .mast__text.sa span:nth-child(13) {
      animation-delay: 0.65s; }
    .mast__text.sa span:nth-child(14) {
      animation-delay: 0.7s; }
    .mast__text.sa span:nth-child(15) {
      animation-delay: 0.75s; }
    .mast__text.sa span:nth-child(16) {
      animation-delay: 0.8s; }
    .mast__text.sa span:nth-child(17) {
      animation-delay: 0.85s; }
    .mast__text.sa span:nth-child(18) {
      animation-delay: 0.9s; }
    .mast__text.sa span:nth-child(19) {
      animation-delay: 0.95s; }
    .mast__text.sa span:nth-child(20) {
      animation-delay: 1s; }
    .mast__text.sa span:nth-child(21) {
      animation-delay: 1.05s; }
    .mast__text.sa span:nth-child(22) {
      animation-delay: 1.1s; }
    .mast__text.sa span:nth-child(23) {
      animation-delay: 1.15s; }
    .mast__text.sa span:nth-child(24) {
      animation-delay: 1.2s; }
    .mast__text.sa span:nth-child(25) {
      animation-delay: 1.25s; }
    .mast__text.sa span:nth-child(26) {
      animation-delay: 1.3s; }
    .mast__text.sa span:nth-child(27) {
      animation-delay: 1.35s; }
    .mast__text.sa span:nth-child(28) {
      animation-delay: 1.4s; }
    .mast__text.sa span:nth-child(29) {
      animation-delay: 1.45s; }
    .mast__text.sa span:nth-child(30) {
      animation-delay: 1.5s; }
    .mast__text.sa span:nth-child(31) {
      animation-delay: 1.55s; }
    .mast__text.sa span:nth-child(32) {
      animation-delay: 1.6s; }
    .mast__text.sa span:nth-child(33) {
      animation-delay: 1.65s; }
    .mast__text.sa span:nth-child(34) {
      animation-delay: 1.7s; }
    .mast__text.sa span:nth-child(35) {
      animation-delay: 1.75s; }
    .mast__text.sa span:nth-child(36) {
      animation-delay: 1.8s; }
    .mast__text.sa span:nth-child(37) {
      animation-delay: 1.85s; }
    .mast__text.sa span:nth-child(38) {
      animation-delay: 1.9s; }
    .mast__text.sa span:nth-child(39) {
      animation-delay: 1.95s; }
    .mast__text.sa span:nth-child(40) {
      animation-delay: 2s; }
    .mast__text.sa span:nth-child(41) {
      animation-delay: 2.05s; }
    .mast__text.sa span:nth-child(42) {
      animation-delay: 2.1s; }
    .mast__text.sa span:nth-child(43) {
      animation-delay: 2.15s; }
    .mast__text.sa span:nth-child(44) {
      animation-delay: 2.2s; }
    .mast__text.sa span:nth-child(45) {
      animation-delay: 2.25s; }
    .mast__text.sa span:nth-child(46) {
      animation-delay: 2.3s; }
    .mast__text.sa span:nth-child(47) {
      animation-delay: 2.35s; }
    .mast__text.sa span:nth-child(48) {
      animation-delay: 2.4s; }
    .mast__text.sa span:nth-child(49) {
      animation-delay: 2.45s; }
    .mast__text.sa span:nth-child(50) {
      animation-delay: 2.5s; }
    .mast__text.sa span:nth-child(51) {
      animation-delay: 2.55s; }
    .mast__text.sa span:nth-child(52) {
      animation-delay: 2.6s; }
    .mast__text.sa span:nth-child(53) {
      animation-delay: 2.65s; }
    .mast__text.sa span:nth-child(54) {
      animation-delay: 2.7s; }
    .mast__text.sa span:nth-child(55) {
      animation-delay: 2.75s; }
    .mast__text.sa span:nth-child(56) {
      animation-delay: 2.8s; }
    .mast__text.sa span:nth-child(57) {
      animation-delay: 2.85s; }
    .mast__text.sa span:nth-child(58) {
      animation-delay: 2.9s; }
    .mast__text.sa span:nth-child(59) {
      animation-delay: 2.95s; }
    .mast__text.sa span:nth-child(60) {
      animation-delay: 3s; }
    .mast__text.sa span:nth-child(61) {
      animation-delay: 3.05s; }
    .mast__text.sa span:nth-child(62) {
      animation-delay: 3.1s; }
    .mast__text.sa span:nth-child(63) {
      animation-delay: 3.15s; }
    .mast__text.sa span:nth-child(64) {
      animation-delay: 3.2s; }
    .mast__text.sa span:nth-child(65) {
      animation-delay: 3.25s; }
    .mast__text.sa span:nth-child(66) {
      animation-delay: 3.3s; }
    .mast__text.sa span:nth-child(67) {
      animation-delay: 3.35s; }
    .mast__text.sa span:nth-child(68) {
      animation-delay: 3.4s; }
    .mast__text.sa span:nth-child(69) {
      animation-delay: 3.45s; }
    .mast__text.sa span:nth-child(70) {
      animation-delay: 3.5s; }
    .mast__text.sa span:nth-child(71) {
      animation-delay: 3.55s; }
    .mast__text.sa span:nth-child(72) {
      animation-delay: 3.6s; }
    .mast__text.sa span:nth-child(73) {
      animation-delay: 3.65s; }
    .mast__text.sa span:nth-child(74) {
      animation-delay: 3.7s; }
    .mast__text.sa span:nth-child(75) {
      animation-delay: 3.75s; }
    .mast__text.sa span:nth-child(76) {
      animation-delay: 3.8s; }
    .mast__text.sa span:nth-child(77) {
      animation-delay: 3.85s; }
    .mast__text.sa span:nth-child(78) {
      animation-delay: 3.9s; }
    .mast__text.sa span:nth-child(79) {
      animation-delay: 3.95s; }
    .mast__text.sa span:nth-child(80) {
      animation-delay: 4s; }
    .mast__text.sa span:nth-child(81) {
      animation-delay: 4.05s; }
    .mast__text.sa span:nth-child(82) {
      animation-delay: 4.1s; }
    .mast__text.sa span:nth-child(83) {
      animation-delay: 4.15s; }
    .mast__text.sa span:nth-child(84) {
      animation-delay: 4.2s; }
    .mast__text.sa span:nth-child(85) {
      animation-delay: 4.25s; }
    .mast__text.sa span:nth-child(86) {
      animation-delay: 4.3s; }
    .mast__text.sa span:nth-child(87) {
      animation-delay: 4.35s; }
    .mast__text.sa span:nth-child(88) {
      animation-delay: 4.4s; }
    .mast__text.sa span:nth-child(89) {
      animation-delay: 4.45s; }
    .mast__text.sa span:nth-child(90) {
      animation-delay: 4.5s; }
    .mast__text.sa span:nth-child(91) {
      animation-delay: 4.55s; }
    .mast__text.sa span:nth-child(92) {
      animation-delay: 4.6s; }
    .mast__text.sa span:nth-child(93) {
      animation-delay: 4.65s; }
    .mast__text.sa span:nth-child(94) {
      animation-delay: 4.7s; }
    .mast__text.sa span:nth-child(95) {
      animation-delay: 4.75s; }
    .mast__text.sa span:nth-child(96) {
      animation-delay: 4.8s; }
    .mast__text.sa span:nth-child(97) {
      animation-delay: 4.85s; }
    .mast__text.sa span:nth-child(98) {
      animation-delay: 4.9s; }
    .mast__text.sa span:nth-child(99) {
      animation-delay: 4.95s; }
    .mast__text.sa span:nth-child(100) {
      animation-delay: 5s; }
    .mast__text.sa span:nth-child(101) {
      animation-delay: 5.05s; }
    .mast__text.sa span:nth-child(102) {
      animation-delay: 5.1s; }
    .mast__text.sa span:nth-child(103) {
      animation-delay: 5.15s; }
    .mast__text.sa span:nth-child(104) {
      animation-delay: 5.2s; }
    .mast__text.sa span:nth-child(105) {
      animation-delay: 5.25s; }
    .mast__text.sa span:nth-child(106) {
      animation-delay: 5.3s; }
    .mast__text.sa span:nth-child(107) {
      animation-delay: 5.35s; }
    .mast__text.sa span:nth-child(108) {
      animation-delay: 5.4s; }
    .mast__text.sa span:nth-child(109) {
      animation-delay: 5.45s; }
    .mast__text.sa span:nth-child(110) {
      animation-delay: 5.5s; }
    .mast__text.sa span:nth-child(111) {
      animation-delay: 5.55s; }
    .mast__text.sa span:nth-child(112) {
      animation-delay: 5.6s; }
    .mast__text.sa span:nth-child(113) {
      animation-delay: 5.65s; }
    .mast__text.sa span:nth-child(114) {
      animation-delay: 5.7s; }
    .mast__text.sa span:nth-child(115) {
      animation-delay: 5.75s; }
    .mast__text.sa span:nth-child(116) {
      animation-delay: 5.8s; }
    .mast__text.sa span:nth-child(117) {
      animation-delay: 5.85s; }
    .mast__text.sa span:nth-child(118) {
      animation-delay: 5.9s; }
    .mast__text.sa span:nth-child(119) {
      animation-delay: 5.95s; }
    .mast__text.sa span:nth-child(120) {
      animation-delay: 6s; }
    .mast__text.sa span:nth-child(121) {
      animation-delay: 6.05s; }
    .mast__text.sa span:nth-child(122) {
      animation-delay: 6.1s; }
    .mast__text.sa span:nth-child(123) {
      animation-delay: 6.15s; }
    .mast__text.sa span:nth-child(124) {
      animation-delay: 6.2s; }
    .mast__text.sa span:nth-child(125) {
      animation-delay: 6.25s; }
    .mast__text.sa span:nth-child(126) {
      animation-delay: 6.3s; }
    .mast__text.sa span:nth-child(127) {
      animation-delay: 6.35s; }
    .mast__text.sa span:nth-child(128) {
      animation-delay: 6.4s; }
    .mast__text.sa span:nth-child(129) {
      animation-delay: 6.45s; }
    .mast__text.sa span:nth-child(130) {
      animation-delay: 6.5s; }
    .mast__text.sa span:nth-child(131) {
      animation-delay: 6.55s; }
    .mast__text.sa span:nth-child(132) {
      animation-delay: 6.6s; }
    .mast__text.sa span:nth-child(133) {
      animation-delay: 6.65s; }
    .mast__text.sa span:nth-child(134) {
      animation-delay: 6.7s; }
    .mast__text.sa span:nth-child(135) {
      animation-delay: 6.75s; }
    .mast__text.sa span:nth-child(136) {
      animation-delay: 6.8s; }
    .mast__text.sa span:nth-child(137) {
      animation-delay: 6.85s; }
    .mast__text.sa span:nth-child(138) {
      animation-delay: 6.9s; }
    .mast__text.sa span:nth-child(139) {
      animation-delay: 6.95s; }
    .mast__text.sa span:nth-child(140) {
      animation-delay: 7s; }
    .mast__text.sa span:nth-child(141) {
      animation-delay: 7.05s; }
    .mast__text.sa span:nth-child(142) {
      animation-delay: 7.1s; }
    .mast__text.sa span:nth-child(143) {
      animation-delay: 7.15s; }
    .mast__text.sa span:nth-child(144) {
      animation-delay: 7.2s; }
    .mast__text.sa span:nth-child(145) {
      animation-delay: 7.25s; }
    .mast__text.sa span:nth-child(146) {
      animation-delay: 7.3s; }
    .mast__text.sa span:nth-child(147) {
      animation-delay: 7.35s; }
    .mast__text.sa span:nth-child(148) {
      animation-delay: 7.4s; }
    .mast__text.sa span:nth-child(149) {
      animation-delay: 7.45s; }
    .mast__text.sa span:nth-child(150) {
      animation-delay: 7.5s; }
    .mast__text.sa span:nth-child(151) {
      animation-delay: 7.55s; }
    .mast__text.sa span:nth-child(152) {
      animation-delay: 7.6s; }
    .mast__text.sa span:nth-child(153) {
      animation-delay: 7.65s; }
    .mast__text.sa span:nth-child(154) {
      animation-delay: 7.7s; }
    .mast__text.sa span:nth-child(155) {
      animation-delay: 7.75s; }
    .mast__text.sa span:nth-child(156) {
      animation-delay: 7.8s; }
    .mast__text.sa span:nth-child(157) {
      animation-delay: 7.85s; }
    .mast__text.sa span:nth-child(158) {
      animation-delay: 7.9s; }
    .mast__text.sa span:nth-child(159) {
      animation-delay: 7.95s; }
    .mast__text.sa span:nth-child(160) {
      animation-delay: 8s; }
    .mast__text.sa span:nth-child(161) {
      animation-delay: 8.05s; }
    .mast__text.sa span:nth-child(162) {
      animation-delay: 8.1s; }
    .mast__text.sa span:nth-child(163) {
      animation-delay: 8.15s; }
    .mast__text.sa span:nth-child(164) {
      animation-delay: 8.2s; }
    .mast__text.sa span:nth-child(165) {
      animation-delay: 8.25s; }
    .mast__text.sa span:nth-child(166) {
      animation-delay: 8.3s; }
    .mast__text.sa span:nth-child(167) {
      animation-delay: 8.35s; }
    .mast__text.sa span:nth-child(168) {
      animation-delay: 8.4s; }
    .mast__text.sa span:nth-child(169) {
      animation-delay: 8.45s; }
    .mast__text.sa span:nth-child(170) {
      animation-delay: 8.5s; }
    .mast__text.sa span:nth-child(171) {
      animation-delay: 8.55s; }
    .mast__text.sa span:nth-child(172) {
      animation-delay: 8.6s; }
    .mast__text.sa span:nth-child(173) {
      animation-delay: 8.65s; }
    .mast__text.sa span:nth-child(174) {
      animation-delay: 8.7s; }
    .mast__text.sa span:nth-child(175) {
      animation-delay: 8.75s; }
    .mast__text.sa span:nth-child(176) {
      animation-delay: 8.8s; }
    .mast__text.sa span:nth-child(177) {
      animation-delay: 8.85s; }
    .mast__text.sa span:nth-child(178) {
      animation-delay: 8.9s; }
    .mast__text.sa span:nth-child(179) {
      animation-delay: 8.95s; }
    .mast__text.sa span:nth-child(180) {
      animation-delay: 9s; }

@keyframes letter-glow {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1); }
  66% {
    opacity: 1;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9); }
  77% {
    opacity: 1; }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0); } }
.btn {
  background: #fff;
  border: 2px solid #004af5;
  color: #004af5;
  border-radius: 30px;
  padding: 0 35px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 44px;
  height: 46px;
  position: relative;
  overflow: hidden;
  z-index: 0; }
  .btn:before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 46px;
    background: #0f4deb;
    transition: .5s;
    border-radius: 46px;
    z-index: 0; }
  .btn:hover, .btn:focus {
    color: #fff; }
    .btn:hover:before, .btn:focus:before {
      width: 100%; }

.countdown {
  margin-top: 5%; }
  .countdown li {
    display: inline-block;
    font-size: 2.5vmax;
    margin-right: 10px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    color: #fff; }
    .countdown li span {
      font-size: 16px;
      letter-spacing: .5px; }
  .countdown h5 {
    font-size: 1.5vmax; }

.left {
  width: 75px;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0.85);
  overflow: hidden; }
  .left .content {
    opacity: 0;
    visibility: hidden;
    padding: 5% 10%;
    color: #d8d8d8;
    letter-spacing: .5px;
    display: table;
    height: 100vh;
    overflow: scroll; }
    .left .content .content-left {
      display: table-cell;
      vertical-align: middle;
      width: 50%;
      padding-right: 5%;
      position: relative; }
      .left .content .content-left:before {
        content: '';
        position: absolute;
        right: 0;
        top: 10vh;
        width: 1px;
        height: 80vh;
        background: rgba(255, 255, 255, 0.1); }
      .left .content .content-left .services .service h4 {
        font-size: 1.6vmax;
        font-weight: bold;
        letter-spacing: 1px;
        position: relative;
        display: inline-block;
        color: #f5f5f5; }
        .left .content .content-left .services .service h4:before {
          content: '';
          position: absolute;
          left: -1px;
          bottom: 0;
          width: 100%;
          height: 10px;
          xbackground: linear-gradient(to right, #0f4deb, #4c08f1);
          z-index: -1; }
    .left .content .content-right {
      display: table-cell;
      vertical-align: middle;
      width: 50%;
      padding-left: 5%; }
    .left .content .title {
      font-size: 4vmax;
      font-weight: bold;
      letter-spacing: 1px;
      position: relative;
      display: inline-block;
      color: #f5f5f5; }
      .left .content .title:before {
        content: '';
        position: absolute;
        left: -1px;
        bottom:-12px;
        width: 100%;
        height: 6px;
        background: linear-gradient(to right,  #F44336, #f49636);
        z-index: -1; }
    .left .content .ccc .cc {
      width: 33.3333%;
      float: left;
      text-align: center; }
      .left .content .ccc .cc img {
        margin: 0 auto 15px;
        width: 30px; }

.b-a, .bar span, .bar span:before, .bar span:after {
  transition: all .5s;
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 30px;
  border-radius: 15px;
  background-color: #656f74; }

.menu-collapsed {
  transition: all .5s;
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  width: 75px;
  z-index: 1; }
  .menu-collapsed ul {
    transition: all 0s;
    position: fixed;
    left: -9000px; }

.bar {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 16px;
  top: 17px;
  cursor: pointer; }
  .bar:hover span {
    width: 30px; }
    .bar:hover span:after {
      width: 30px; }
  .menu-collapsed .bar span {
    position: fixed;
    left: 22.5px;
    top: 30px;
    width: 20px;
    display:none; 
    }

    .menu-collapsed.menu-expanded .bar span{
      display: block;
    }
    .menu-collapsed.menu-expanded .fa-robot{
      display:none;
    }
    .bar span:before {
      top: -6px; }
    .bar span:after {
      width: 10px;
      top: 6px; }

.b-a-expanded, .menu-expanded .bar span:before, .menu-expanded .bar span:after {
  transition: all .5s;
  top: -0px; }

.menu-expanded {
  transition: all .5s;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: scroll;
  overflow-x: hidden; }
  .menu-expanded .content {
    opacity: 1;
    visibility: visible;
    transition: .5s;
    transition-delay: .5s; }
  .menu-expanded ul {
    transition: all 0s;
    position: relative;
    left: 0;
    z-index: 2; }
  .menu-expanded .bar span {
    transition: all .5s;
    background-color: transparent; }
    .menu-expanded .bar span:before {
      transform: rotate(45deg);
      width: 30px;
      background-color: #fff; }
    .menu-expanded .bar span:after {
      transform: rotate(-45deg);
      width: 30px;
      background-color: #fff; }

.share {
  position: absolute;
  bottom: 25px;
  height: 100px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 11px;
  width: 75px;
  text-align: center; }
  .share:hover .sh {
    bottom: 105px;
    opacity: .5; }
  .share:hover ul {
    bottom: 0;
    opacity: 1;
    visibility: visible; }
  .share .sh {
    position: absolute;
    transform: rotate(-90deg);
    left: 3px;
    bottom: 40px;
    transition: all .5s; }
    .share .sh i {
      transform: rotate(90deg);
      font-size: 20px;
      position: relative;
      top: 4px;
      left: -5px; }
  .share ul {
    position: absolute;
    bottom: -50px;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    font-size: 20px;
    text-align: center;
    width: 75px; }
    .share ul li:first-child {
      margin-bottom: 5px;
      color: #476fe2; }
    .share ul li:last-child {
      color: #61c2ed; }

.copyright {
  position: absolute;
  transform: rotate(-90deg);
  left: -72px;
  width: 220px;
  font-size: 11px;
  letter-spacing: .5px;
  top: calc(50vh - 30px);
  text-align: center; }

.contact .form-control {
  border-width: 1px;
  background: transparent;
  box-shadow: none;
  border-color: rgba(101, 111, 116, 0.3);
  padding: 0 20px;
  color: #fff;
  letter-spacing: .5px;
  line-height: 46px;
  height: 46px;
  border-radius: 46px;
  position: relative;
  z-index: 1; }
.contact .form-group {
  position: relative;
  margin-bottom: 0;
  border-radius: 46px;
  overflow: hidden;
  height: 46px;
  margin-bottom: 10px;
  width: 100%;
  display: inline-flex; }
  .contact .form-group:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 46px;
    xbackground: linear-gradient(to right, #004af5, #4c08f1);
    transition: .5s;
    z-index: 0;
    color: #fff;
    border-radius: 46px; }
  .contact .form-group .help-block {
    position: absolute;
    top: 8px;
    right: 15px; }
  .contact .form-group:hover:before, .contact .form-group:focus:before {
    width: 100%;
    display: inline-table; }
  .contact .form-group:hover .form-control, .contact .form-group:focus .form-control {
    color: #fff; }
  .contact .form-group:hover ::-webkit-input-placeholder, .contact .form-group:focus ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #fff; }
  .contact .form-group:hover :-moz-placeholder, .contact .form-group:focus :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff; }
  .contact .form-group:hover ::-moz-placeholder, .contact .form-group:focus ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff; }
  .contact .form-group:hover :-ms-input-placeholder, .contact .form-group:focus :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff; }
.contact textarea, .contact .tt, .contact .tt:before {
  border-radius: 32px !important; }
.contact ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #656f74;
  letter-spacing: .5px;
  transition: .5s; }
.contact :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #656f74;
  opacity: 1;
  letter-spacing: .5px;
  transition: .5s; }
.contact ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #656f74;
  opacity: 1;
  letter-spacing: .5px;
  transition: .5s; }
.contact :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #656f74;
  letter-spacing: .5px;
  transition: .5s; }
.contact .tt, .contact .tt textarea, .contact .tt:before {
  height: 200px; }
.contact span {
  padding: 0 5%;
  font-size: 11px; }
.contact .btn-send {
  background: none;
  margin-top: 15px; }

.subscribe {
  width: 400px;
  min-height: 275px;
  position: absolute;
  bottom: 0;
  right: 5%;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  letter-spacing: .5px;
  transition: all .5s;
  z-index: 9; }
  .subscribe.aa {
    max-height: 50px;
    overflow: hidden;
    min-height: 50px; }
  .subscribe h4 {
    width: 100%;
    text-align: center;
    line-height: 50px;
    background: linear-gradient(to right, #0f4deb, #4c08f1);
    color: #fff;
    border-radius: 10px 10px 0 0;
    margin: 0;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.2); }
    .subscribe h4 i {
      position: absolute;
      right: 17px;
      top: 17px;
      width: 20px;
      height: 20px;
      cursor: pointer; }
  .subscribe #subscribe-form {
    padding: 20px 7%;
    transition: all .5s;
    overflow: hidden; }
    .subscribe #subscribe-form .form-control {
      border-width: 1px;
      background: transparent;
      box-shadow: none;
      border-color: rgba(101, 111, 116, 0.3);
      padding: 0 20px;
      color: #0f4deb;
      letter-spacing: .5px;
      line-height: 46px;
      height: 46px;
      border-radius: 46px;
      position: relative;
      z-index: 1; }
    .subscribe #subscribe-form .form-group {
      position: relative;
      margin-bottom: 0;
      border-radius: 46px;
      overflow: hidden;
      margin-bottom: 10px;
      width: 100%;
      display: inline; }
      .subscribe #subscribe-form .form-group:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 46px;
        xbackground: linear-gradient(to right, #004af5, #4c08f1);
        transition: .5s;
        z-index: 0;
        color: #fff;
        border-radius: 46px; }
      .subscribe #subscribe-form .form-group .has-error .checkbox, .subscribe #subscribe-form .form-group .has-error .checkbox-inline, .subscribe #subscribe-form .form-group .has-error .control-label, .subscribe #subscribe-form .form-group .has-error .help-block, .subscribe #subscribe-form .form-group .has-error .radio, .subscribe #subscribe-form .form-group .has-error .radio-inline, .subscribe #subscribe-form .form-group .has-error.checkbox label, .subscribe #subscribe-form .form-group .has-error.checkbox-inline label, .subscribe #subscribe-form .form-group .has-error.radio label, .subscribe #subscribe-form .form-group .has-error.radio-inline label {
        margin-left: 5px;
        font-size: 12px; }
      .subscribe #subscribe-form .form-group:hover:before, .subscribe #subscribe-form .form-group:focus:before {
        width: 93%;
        display: inline-table; }
      .subscribe #subscribe-form .form-group:hover .form-control, .subscribe #subscribe-form .form-group:focus .form-control {
        color: #fff; }
      .subscribe #subscribe-form .form-group:hover ::-webkit-input-placeholder, .subscribe #subscribe-form .form-group:focus ::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #fff; }
      .subscribe #subscribe-form .form-group:hover :-moz-placeholder, .subscribe #subscribe-form .form-group:focus :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #fff; }
      .subscribe #subscribe-form .form-group:hover ::-moz-placeholder, .subscribe #subscribe-form .form-group:focus ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #fff; }
      .subscribe #subscribe-form .form-group:hover :-ms-input-placeholder, .subscribe #subscribe-form .form-group:focus :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #fff; }
  .subscribe ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #656f74;
    letter-spacing: .5px;
    transition: .5s; }
  .subscribe :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #656f74;
    opacity: 1;
    letter-spacing: .5px;
    transition: .5s; }
  .subscribe ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #656f74;
    opacity: 1;
    letter-spacing: .5px;
    transition: .5s; }
  .subscribe :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #656f74;
    letter-spacing: .5px;
    transition: .5s; }
  .subscribe span {
    padding: 0 5%;
    font-size: 11px; }
  .subscribe .btn-send {
    transition: all .5s;
    line-height: 44px; }
    .subscribe .btn-send:hover {
      background: linear-gradient(to right, #004af5, #4c08f1); }

.home {
  position: relative;
  z-index: 1;
  height: 100vh;
  font-size: 16px;
  overflow-y: scroll; }
  .home:before {
    content: '';
    position: fixed;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    width: 100%;
    height: 100vh;
    z-index: -1; }
  .home:after {
    content: '';
    position: fixed;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent, transparent, transparent);
    width: 100%;
    height: 100vh;
    z-index: -1; }
  .home.svg:before, .home.svg:after {
    display: none; }
  .home .content {
    width: 65%;
    padding: 0% 10%;
    color: #fff; }
    .home .content h1 {
      font-size: 6vmax;
      font-weight: bold; }
    .home .content h2 {
      position: relative;
      padding: 7px;
      margin: 3% 0 7%;
      font-size: 20px;
      display: inline-block; }
      .home .content h2:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3vmax;
        background: #fff;
        z-index: -1;
        top: 0;
        left: 0;
        border-radius: 10px;
        box-shadow: 0 3px 40px -10px #000; }
      .home .content h2 span {
        font-size: 1.7vmax;
        font-weight: bold;
        background-image: linear-gradient(to right, #004af5, #4c08f1);
        color: transparent !important;
        -webkit-background-clip: text; }

@media all and (min-width: 1600px) {
  body, .countdown #countdown li span, .home {
    font-size: .8vmax; }

  .subscribe {
    width: 500px;
    min-height: 340px; }
    .subscribe h4 {
      font-size: 1.2vmax;
      height: 60px;
      line-height: 60px; }
      .subscribe h4 .subscribe h4 i {
        right: 25px;
        top: 25px; }
    .subscribe #subscribe-form .form-control {
      border-width: 2px;
      line-height: 60px;
      height: 60px;
      font-size: .8vmax; }
    .subscribe #subscribe-form .form-group:before {
      height: 60px; }

  .contact .form-group:before {
    height: 60px; }

  .btn {
    height: 60px;
    line-height: 58px;
    padding: 0 50px;
    font-size: .8vmax; }

  .subscribe span {
    font-size: 12px; }

  .subscribe.aa {
    max-height: 60px;
    min-height: 60px; }

  .contact .form-group {
    height: 60px; }

  .contact .form-control {
    border-width: 2px;
    line-height: 60px;
    height: 60px;
    font-size: .8vmax; }

  .left .content .content-left:before {
    width: 2px; }

  .contact .tt, .contact .tt textarea, .contact .tt:before {
    height: 200px; } }
@media all and (min-width: 1024px) and (max-width: 1366px) {
  .subscribe {
    width: 360px; } }
@media all and (min-width: 768px) and (max-width: 1024px) {
  .home .content {
    width: 100%;
    padding: 10% 10% 10% 15%; }

  .left .content .content-left {
    width: 100%;
    padding-right: 0;
    display: inline-block;
    margin-bottom: 10%; }

  .left .content .content-right {
    width: 100%;
    padding-left: 0;
    display: inline-block; }

  .left .content .content-left:before {
    display: none; } }
@media all and (max-width: 767px) {
  .subscribe {
    width: 70vw;
    position: fixed;
    z-index: 9; }

  .home .content {
    width: calc(100% - 50px);
    float: right;
    padding: 5%; }

  .left, .share, .share ul {
    width: 50px; }

  #stripes {
    left: 50px;
    width: calc(100% - 50px); }

  .share .sh i {
    position: absolute;
    top: -2px;
    left: -25px; }

  .subscribe h4 {
    line-height: 40px;
    font-size: 14px; }

  .subscribe.aa {
    max-height: 40px;
    min-height: 40px; }

  .copyright {
    left: -85px; }

  .menu-collapsed {
    height: 50px;
    width: 50px; }

  .bar {
    left: 10px;
    top: 10px; }

  .bar span {
    left: 9.5px;
    top: 24px; }

  .countdown h5 {
    font-size: 2.5vmax; }

  .menu-collapsed.menu-expanded {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding: 5%; }

  .left .content .content-left {
    width: 100%;
    padding-right: 0;
    display: block; }

  .left .content .content-right {
    width: 100%;
    padding-left: 0;
    display: block; }

  .left .content .content-left:before {
    display: none; }

  .left .content .title {
    font-size: 6vmax; }

  .left .content .ccc .cc {
    width: 100%;
    margin-bottom: 15px; }

  .home {
    padding-bottom: 15%; }

  .home .content h2 span {
    font-size: 16px; }

  .home .content h2:before {
    height: 24px; }

  .subscribe h4 i {
    top: 15px; } }
::-webkit-scrollbar {
  display: none; }

/*# sourceMappingURL=style.css.map */
