/*-----------------------------------------------------------------------------------

    Template Name: Appro HTML5 Template,
    Template URI: http://appro.intimissibd.com
    Description: This is html5 template
    Author: ThemeCTG
    Author URI: http://themectg.com
    Version: 1.0

-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
    1. Google font
	2. Theme Default CSS (body, link color, section etc)   
-----------------------------------------------------------------------------------*/


/*-----------------
1. Google font
------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

/*-------------------
2. Theme Default CSS
--------------------*/

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

.fix {
    overflow: hidden;
}

a {
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #303030;
}

.btn.focus,
.btn:focus,
.btn:hover,
input:focus,
button:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-weight: 600;
}

h1 {
    font-size: 40px;
    text-shadow: 0px 0px 10px black;
}

p span,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    color: #2fccd0;
}

html,
body {
    height: 100%
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #606060;
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

#maps {
    width: 100%;
    height: 500px;
}

@media only screen and (max-width: 600px) {
    h1{
        font-size:25px;
    }
    .mainmenu-area{
        padding:0;
    }
} 
